body {
    background-color: silver;
}

header {
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: ;
    }

    header h1 {
        display: inline-block;
        margin: 25px;
    }

    .nav {
        display: inline-block;
        margin-left: 25px;
    }

    .links ul li {
        /* display: inline-block;
        margin-left: 250px; */
        text-align: center;
    }

    body {
        font-family: 'Times New Roman', Times, serif;
    }

    main {
    margin-left: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    }

    section {
        text-align: center;
        clear: both;
    }

 
    footer {
        padding: 30;
        clear: both;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }